body {
  z-index: 1;
}
.izZL9w:focus.VRbPRZ .mrWrKI {
  box-shadow: 0 4px 86px 0 rgba(0, 0, 0, 0.95), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.izZL9w:focus .ER74xj,
.izZL9w:focus .LoAxCB,
.izZL9w:focus ._5u7sLm,
.izZL9w:focus .jVDLUF {
  height: auto;
  opacity: 1;
}
@media only screen and (max-width: 87.49em) {
  .izZL9w:focus .BUlsAv {
    height: auto;
    opacity: 1;
  }
}